.card {
    width: auto;
    /* margin-left: 3rem;
    margin-top: 3rem; */
    height: auto;
    text-align: center;
}

#cartLink{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}